.map-container {
    position: relative;
    border: 1px solid black;
    background-color: green;
    background-image: url('@/assets/map/map_bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    overflow: hidden;
    /* Width and height dealt with in component. */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    caret-color: transparent;
    cursor: default;
}

/* Only apply to direct children and descendants within map container */
.map-container > *,
.map-container .entity,
.map-container .player {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    caret-color: transparent;
}

.map-container.debug {
    border: 2px solid yellow;
}

.entity {
    position: absolute;
}


.player {
    position: absolute;
    background-color: blue;
    color: white;
}
